[Unit]
Description=Riak CS Web Interface

[Service]
ExecStart=/usr/sbin/riak-cs-control foreground
ExecStop=/usr/sbin/riak-cs-control stop
Type=simple
PIDFile=/run/riak-cs-control

[Install]
WantedBy=multi-user.target
