%% -*- erlang -*-

{rel_vsn, "{{release_version}}"}.

{platform_base_dir,  "/var/lib/riak-cs-control"}.
{platform_bin_dir,   "/usr/lib64/riak-cs-control/bin"}.
{platform_lib_dir,   "/usr/lib64/riak-cs-control/lib"}.
{platform_log_dir,   "/var/log/riak-cs-control"}.
{platform_gen_dir,   "/var/lib/riak-cs-control"}.
{pid_dir,            "/run/riak-cs-control"}.

{log_level, info}.
