%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{erl_opts, [ debug_info
           , warnings_as_errors
           , {parse_transform, lager_transform}
           ]
}.

{deps, [ {lager_syslog, {git, "git://github.com/basho/lager_syslog.git", {tag, "3.1.0"}}}
       , {webmachine, "1.11.1"}
       , {mochiweb, "v2.20.1"}
       ]
}.

%% {plugins, [{rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
%%           ]
%% }.

{plugins, [ {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          , {rebar_js_concatenator_plugin, ".*", {git, "git://github.com/hmmr/rebar_js_concatenator_plugin.git", {tag, "0.1.0"}}}
          , {rebar_js_handlebars_plugin, ".*", {git, "git://github.com/hmmr/rebar_js_handlebars_plugin.git", {tag, "0.1.0"}}}
          ]
}.

{provider_hooks, [{pre, [{compile, {erlydtl, compile}},
                         {compile, {default, rebar_js_concatenator_plugin}},
                         {compile, {default, rebar_js_handlebars_plugin}}]}]}.

{js_handlebars, [
    {doc_root,   "priv/www/js/templates"},
    {out_dir,    "priv/www/js"},
    {target,     "Ember.TEMPLATES"},
    {compiler,   "Ember.Handlebars.compile"},
    {templates,  [{"generated/templates.js", [
        "application.hbs",
        "users.hbs",
        "users/button.hbs",
        "users/new.hbs",
        "users/item.hbs",
        "users/index.hbs"]}]}
]}.

{js_concatenator, [
    {doc_root,        "priv/www/js/vendor"},
    {out_dir,         "priv/www/js"},
    {concatenations,  [{"generated/vendor.js", [
        "jquery-1.7.2.js",
        "jquery-ui-1.8.16.custom.min.js",
        "spin-1.2.7.min.js",
        "handlebars.js",
        "ember-latest.js",
        "ember-data-latest.js",
        "minispade.js"], []}]}
]}.

{erlydtl_opts, [{compiler_options, [report, return, debug_info]},
                {doc_root, "priv/www"}]}.


{dist_node, [
    {setcookie, 'atom-cookie'},
    {sname, 'riak_cs_control'}
]}.

{relx, [ {release, {riak_cs_control, "3.0"},
          [ sasl
          , riak_cs_control
          ]
         }
       , {dev_mode, false}
       , {overlay, [ {mkdir, "log"}
                   , {mkdir, "data/riak-cs-control"}
                   ]
         }
       , {generate_start_script, true}
       , {extended_start_script, true}
       ]
}.

{profiles, [ {rel, [ {relx, [ {overlay_vars, "rel/vars.config"}
                            , {overlay, [{template, "rel/files/sys.config.src", "releases/{{rel_vsn}}/sys.config"}]}
                            ]
                     }
                   ]
             }
           , {dev, [ {relx, [ {dev_mode, true}
                            ]
                     }
                   ]
             }
           , {test, []}
           , {docker, [ {relx, [ {overlay_vars, "rel/docker/vars.config"}
                               ]
                     }
                   ]
             }
           , {rpm, [ {relx, [ {overlay_vars, "rel/pkg/rpm/vars.config"},
                              {overlay, [ {template, "rel/pkg/rpm/init.script", "etc/init.d/init.script"}
                                        ]
                              }
                            ]
                     }
                   ]
             }
           , {deb, [ {relx, [ {overlay_vars, "debian/vars.config"}
                            , {overlay, [ {template, "rel/files/riak_cs", "usr/bin/riak_cs"}
                                        ]
                              }
                            ]
                     }
                   ]
             }
           ]
}.

{edoc_opts, [{preprocess, true}]}.
