%% -*- erlang -*-
{minimum_otp_vsn, "22"}.

{erl_opts, [ debug_info
           , warnings_as_errors
           ]
}.

{deps, [ {webmachine, {git, "https://github.com/TI-Tokyo/webmachine.git", {tag, "1.11.2"}}}
       , {mochiweb, "3.1.2"}
       , {jsx, "3.1.0"}
       , {erlydtl, "0.14.0"}
       ]
}.

{plugins, [ {rebar3_erlydtl_plugin, {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          , {rebar_js_concatenator_plugin, {git, "https://github.com/TI-Tokyo/rebar_js_concatenator_plugin.git", {tag, "0.1.0"}}}
          , {rebar_js_handlebars_plugin, {git, "https://github.com/TI-Tokyo/rebar_js_handlebars_plugin.git", {tag, "0.1.0"}}}
          ]
}.

{provider_hooks, [{pre, [{compile, {erlydtl, compile}},
                         {compile, {default, rebar_js_concatenator_plugin}},
                         {compile, {default, rebar_js_handlebars_plugin}}]}]}.

{js_handlebars,
 [{doc_root, "priv/www/js/templates"},
  {out_dir, "priv/www/js"},
  {target, "Ember.TEMPLATES"},
  {compiler, "Ember.Handlebars.compile"},
  {templates,
   [{"generated/templates.js",
     ["application.hbs",
      "users.hbs",
      "users/button.hbs",
      "users/new.hbs",
      "users/item.hbs",
      "users/index.hbs"]
    }
   ]
  }
 ]
}.

{js_concatenator,
 [{doc_root, "priv/www/js/vendor"},
  {out_dir, "priv/www/js"},
  {concatenations,
   [{"generated/vendor.js",
     ["jquery-1.7.2.js",
      "jquery-ui-1.8.16.custom.min.js",
      "spin-1.2.7.min.js",
      "handlebars.js",
      "ember-latest.js",
      "ember-data-latest.js",
      "minispade.js"], []
    }
   ]
  }
 ]
}.

{erlydtl_opts, [{compiler_options, [report, return, debug_info]},
                {doc_root, "priv/www"}]}.

{relx, [ {release, {'riak-cs-control', "3.2"},
          [ sasl
          , erlydtl
          , riak_cs_control
          ]
         }
       , {include_erts, true}
       , {overlay, [ {mkdir, "log"}
                   ]
         }
       , {generate_start_script, true}
       , {overlay, [ {template, "rel/files/riak-cs-control", "usr/bin/riak-cs-control"}
                   , {template, "rel/files/etc-config", "etc/config"}
                   ]
         }
       ]
}.

{profiles,
 [ {rel,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/vars.config"}
       ]
      }
    ]
   }

 , {dev,
    [ {relx, [{mode, dev}]}
    ]
   }

 , {rpm,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/rpm/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/riak-cs-control/pid"},
              {wait_for_process, riak_cs_control_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {deb,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/deb/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/riak-cs-control/pid"},
              {wait_for_process, riak_cs_control_sup}]
            }
          ]
         }
       ]
      }
    ]
   }

 , {fbsdng,
    [ {relx,
       [ {mode, prod}
       , {overlay_vars, "rel/pkg/fbsdng/vars.config"}
       , {extended_start_script_hooks,
          [ {post_start,
             [{pid, "/run/riak-cs-control/riak-cs-control.pid"},
              {wait_for_process, riak_cs_control_sup}]
            }
          ]
         }
       ]
      }
    ]
   }
 ]
}.
