[Unit]
Description=Riak CS Web Interface

[Service]
ExecStart=/usr/lib/riak-cs-control/bin/riak_cs_control foreground
ExecStop=/usr/lib/riak-cs-control/bin/riak_cs_control stop
Type=simple
PIDFile=/run/riak-cs-control/pid

[Install]
WantedBy=multi-user.target
